:root {
  --nextra-primary-hue: 196;
  --nextra-primary-saturation: 100%;
  --nextra-primary-brightness: 50%;
  --x-color-neutral-900: transparent;
  --x-color-gray-100: transparent;
  --x-color-nextra-bg: transparent;
  --x-color-gray-200: rgba(0, 0, 0, 0.1);
  --x-color-neutral-800: rgba(255, 255, 255, 0.3);
  --x-color-primary-600: #002937;
  --nextra-navbar-height: 55px;

  #headlessui-portal-root div ul {
    background: #FFFFFF;
  }
}

:root[style*="color-scheme: dark"] {
  --x-color-primary-600: #00BBFF; /* Dark mode value */
  --x-color-gray-100: #FFFFFF;
  --x-color-gray-200: #FFFFFF;

  #headlessui-portal-root div ul {
    background: #000000;
  }
}

ul {
  margin-top: calc(var(--x-spacing)* 3);
}

h2 {
  padding-bottom: 15px;
}

body {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

a {
  font-weight: 500;
}

.nextra-nav-container nav, 
.dark .nextra-nav-container nav {
  background: transparent;
}

.nx-text-primary-600 {
  color: #00C8FF !important;
}

.dark .nx-text-primary-600 {
  color: #33D3FF !important;
}

.nx-bg-primary-100 {
  background-color: rgba(0, 200, 255, 0.1) !important;
}

.dark .nx-bg-primary-100 {
  background-color: rgba(51, 211, 255, 0.1) !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

/* Dark mode */
.dark *::-webkit-scrollbar-thumb {
  background: #404040;
}

.dark *::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

.nextra-navbar-blur {
  background-color: transparent !important;
  backdrop-filter: blur(6px);
}

/* Light mode */
.nextra-navbar-blur {
  background: transparent !important;
}

/* Dark mode */
:root[style*="color-scheme: dark"] .nextra-navbar-blur {
  background: transparent !important;
}


.nextra-search-results {
  background: rgba(248, 250, 255, 1) !important;
}

/* Dark mode */
:root[style*="color-scheme: dark"] .nextra-search-results {
  background: rgba(10, 25, 47, 1) !important;
}

body {
  background: linear-gradient(to bottom right, #F8FAFF, #EEF2FF, #E0E7FF);
}

:root[style*="color-scheme: dark"] body {
  background: linear-gradient(to bottom right, #000000, #0A192F, #112240);
}

.subheading-anchor {
  opacity: 0% !important;
}

footer {
  padding: 1.5rem;
}